# Default ignored files
shelf/
workspace.xml
statistic.xml
# Datasource local com.logic.bankwiser.com.logic.bankwiser.com.logic.bankwiser.storage ignored files
dataSources/
dataSources.local.xml
# Editor-based HTTP Client requests
httpRequests/
#libraries
lib/
libraries/
#out
out/
#target
target/
#file types
*.jar
*.class