# Default ignored files
/shelf/
/workspace.xml
/.idea/shelf/
statistic.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#libraries
/lib/
/libraries/
#out
/out/
#target
/target/
#file types
.jar
