# Default ignored files
shelf/
workspace.xml
statistic.xml
# Datasource local storage ignored files
dataSources/
dataSources.local.xml
# Editor-based HTTP Client requests
httpRequests/
# Libraries
lib/
libraries/
# Out
out/
# Target
target/
# File types
*.jar
*.class
# Excplicit files
DIT094_Group9.iml
/git_toolbox_prj.xml